/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

$yellow: #ffd650;
$grey: #606060;

// Colours
$primary: #d0eeed;
$secondary: #d0e0ee;
$link: $yellow;

$body-background-color: #f9f9f9;

// Breakpoints
$mobile: 550px;
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-secondary: 'Playfair Display', cursive;
$family-third: 'Cinzel', serif;
$title-2: 'EB Garamond', serif;


$navbar-background-color: #fff0;

$footer-padding: 1rem 1.5rem;
$footer-background-color: $grey;

$divider-background-color: $yellow;
$divider-color: $yellow;
$divider-thickness: 2rem;
$divider-margin-inner-size: 0px;

$button-border-color: $yellow;
$button-border-width: 2px;
$button-hover-border-color: $yellow;
$button-background-color: #f9f9f9;
$button-family: 'Playfair Display', cursive;

/* Import the rest of Bulma */
@import '~bulma';
@import '~@creativebulma/bulma-divider';
@import '~bulma-timeline';

// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

// section {
//     scroll-snap-align: center;
// }

.coverImage {
    height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}