/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

$yellow: #ffd650;
$grey: #606060;
$deepblue: #01999e;

// Colours
$primary: #d0eeed;
$secondary: #d0e0ee;
$link: $deepblue;

$body-background-color: #f9f9f9;

// Breakpoints
$mobile: 550px;
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-secondary: 'Playfair Display', cursive;
$family-third: 'Cinzel', serif;
$title-2: 'EB Garamond', serif;

$navbar-background-color:#f9f9f9;
$navbar-height: 5rem;

$footer-padding: 1rem 1.5rem;
$footer-background-color: #f9f9f9;

$divider-background-color: $yellow;
$divider-color: $yellow;
$divider-thickness: 2rem;
$divider-margin-inner-size: 0px;

$button-border-color: $yellow;
$button-border-width: 2px;
$button-hover-border-color: $yellow;
$button-focus-color: $yellow;
$button-focus-border-color: $yellow;
$button-focus-box-shadow-size: 0;
$button-background-color: #f9f9f9;
$button-family: 'Playfair Display', cursive;

/* Import the rest of Bulma */
@import '~bulma';
@import '~@creativebulma/bulma-divider';
@import '~bulma-timeline';

// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

// section {
//     scroll-snap-align: center;
// }

body {
    scroll-behavior: smooth;
}

.coverImage {
    height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: $desktop) {
    .nuxt-link-exact-active {
        box-shadow: inset 0 5px $yellow;
    }
}
.shadow-light {
    box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
    0 0px 0 1px rgba($scheme-invert, 0.02);
}

.shadow-semibold {
    box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.4),
    0 0px 0 1px rgba($scheme-invert, 0.1);
}

.is-underline {
    text-decoration: underline;
}

.button:focus {
    outline: none;
    box-shadow: none;
}