/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

$yellow: #FFDB5E;
$grey: #606060;

// Colours
$primary: #d0eeed;
$secondary: #d0e0ee;

// Breakpoints
$mobile: 550px;
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-secondary: 'Playfair Display', cursive;

$footer-padding: 1rem 1.5rem;
$footer-background-color: $grey;

$navbar-background-color: #fff0;
$divider-background-color: $yellow;
$divider-color: $yellow;
$divider-thickness: 2rem;
$divider-margin-inner-size: 0px;

/* Import the rest of Bulma */
@import '~bulma';
@import '~@creativebulma/bulma-divider';
@import '~bulma-timeline';

// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

// section {
//     scroll-snap-align: center;
// }

.coverImage {
    height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: $desktop) {
    .nuxt-link-exact-active {
        box-shadow: inset 0 5px $yellow;
    }
}